.wrapper {
  display: flex;
  gap: 16px;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--layout-background-default);
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 0 0;
  min-width: 0;
}

.nav {
  flex-shrink: 0;
  height: 48px;
  display: flex;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 0 auto;
}
